.cro149-2 {
    position: absolute;
    border-radius: 4px 4px 4px 0px;
    width: 148px;
    background-color: rgb(0, 133, 59);
    top: -15px;
    left: -10px;
    padding: 7px 16px 6px;
}

.cro149-2::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) transparent transparent;
}

.cro149-4 {
    font-family: Stag;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}